





/***********************************
    Pages and Aricive
***********************************/


.page-template-homepage{

    .home-page-header{

        .slogen-container{
          
            &:before{
                background-size: 100% 100%;


            }
        }
    }
}


/***********************************
    Footer
***********************************/
#wrapper-footer{
    .site-footer{
        .site-footer-acc-link-wrap{
            float:right;
        }
        .site-info {
            float: left;
        }  

    }
}
