// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #14728C; 
$secondary:#3bc4e6; //logo cyan
$accent: #EF8621; //logo orange

$white: #fff;
$black: #000;

$logo-text:#241e21;
$text-color: #333333; // #515256;
$navbar-color:#393939;
$title-color: #000;
$bg-grey:#f4f4f4; 



/*

$light-grey: #efefef;
$green: #b2d135;    //logo -green
$orange: #f78d1f; // logo-orange
$red :#a32016;
*/