


/***********************************
    Basic
***********************************/

body{
    font-size:16px;
}

h1, h2, h3, h4, h5{
    color:$title-color;
}

h1,.alpha{

}

h2, .beta{

}

h3, .gamma{

}

h4, .delta{

}

h5, .zetta{

}

a{
    &:hover, &:focus{
        
    }
}

button, .button, .btn{

    &:hover, &:focus{

    }
}

a, button, .button, .btn, .fa{
    transition: transform .5s,box-shadow .5s,-webkit-transform .5s,-webkit-box-shadow .5s, color .5s;
}

ul{
    li{

    }
}

ol{
    li{

    }
}


.text-accent{
    color:$accent;
}

/***********************************
    Elements
***********************************/




/***********************************
    Navigation
***********************************/

#wrapper-navbar{
  

    div{
      //  border:1px solid cyan;
    }

    .navbar-brand{
        img{
            max-width: 165px;
        }
    }

    .navbar>.container{
        position: relative;
        align-items: flex-end;
    }

    #main-menu{
        padding-right:0;
        li{
            text-align: right;
        }

        .current-menu-item{
          
        }

        .nav-link{
            padding-right:1rem;
            padding-left:1rem;
            font-weight: 700;

            &:focus, &:hover{
                box-shadow: inset 0 -2px $primary;
            }
        }

        .current-menu-item>.nav-link{

            color:$primary
        
            
        }
    }

    #wrapper-static-hero, .header-widget-wrap{
        padding:0;
        position: absolute;
        top:0;
        left:0;
        min-width: 570px;
        background-color: transparent;
       
        .row{
            flex-flow: row-reverse;
        }

        #wrapper-static-content{
            display: flex;
            flex-flow: row-reverse;
            align-items: center;
        }
    
      
        .header-widget{
           
            padding-left:15px;
        }

        a.header-cnt-details{

            display: block;
            color:$title-color;
            text-align: right;
           
            display: flex;
            align-items: center;
            min-height: 60px ;

            span,i{
                display: block;
               
            }

            .fa{
                padding:15px;
                font-size:300%;
            }

            span.vcenter{
                line-height: 1em;
            }         

            i.text-primary{
                color:$primary;

            }

            i.text-secondary{
                color:$secondary;
            }

            i.text-accent{
                color:$accent;
            }
            
            &:hover, &:focus{
                text-decoration: none;
                i.fa{
                   
                    transform: scale(1.1);
                }
                span{
                    text-decoration: underline;
                }
            }

        }

        a.header-cnt-details-phone{
            span{
                font-size:150%;
            }
            .fa{
                font-size:335%;
            }
           
        }

    }   

    
    


}

//.navbar-light .navbar-nav .active>.nav-link{
.navbar-light .navbar-nav .nav-link{
    color:$navbar-color;
}





/***********************************
    Pages and Aricive
***********************************/



/***********************************
    Footer
***********************************/

#wrapper-footer-full{
    background:$primary;
    padding-top:4rem;
    padding-bottom:3rem;

    .widget-wrap{
        
        position: relative;
        min-height: 240px;
        text-align: center;
        .text-wrap{

        }
        .map-wrap{

        }

        .text-wrap{
            padding-bottom: 15px;
        }
    }
    

    .footer-widget{
        color: $white;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h3{
        color: $white;
        font-weight: normal;
        margin-top: 1rem;
    }

    iframe{
      //  position: absolute;
      //  left:50%;
      //  transform: translateX(-50%);
        max-width:100%;
    }

}

#wrapper-footer{
    background-color: #0a3946;
    color: rgba($white,0.75);
    text-align: center;
    a{
        color:$white;
    }
}


/***********************************
    rtl
***********************************/

body.rtl{
    direction: rtl;
    text-align: right;
}